@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif !important;
}





.about_head {
  font-size: 30px !important;
  font-weight: 500;
  margin-top: 20px;
}

.about_content {
  font-size: 14px !important;
  margin-top: 20px;
}
.About_map {
  width: 50%;
}
.about_map_con {
  width: 50%;
}

.Map_con {
  font-size: 14px !important;
}

.about_head3 {
  font-size: 30px !important;
  font-weight: 500;
  margin-top: 80px;
}
.about_head4 {
  font-size: 30px !important;
  font-weight: 500;
  margin-top: 40px;
}
.about_contect{
    margin-top: 50px;
}
.Loction_icon {
  background: #d88e1f;
  width: 60px;
  height: 50px;
  text-align: center;
  border-radius: 150px;
  margin: auto;
}

.Loction_icon img {
    width: 24px;
    margin-top: 12px;
}
.call_icon img {
    width: 24px;
    margin-top: 12px;
}
.message_icon img {
    width: 24px;
    margin-top: 12px;
}
.loction_span {
  color: rgba(0, 0, 0, 0.788);
  font-size: 14px;
}
.loction_con{
    text-align: center;
}
.loction_con p{
    padding: 0px 20px;
    color: black;
    font-weight: 500;
}

.call_icon {
  background: #8BCA3C;
  width: 60px;
  height: 50px;
  text-align: center;
  border-radius: 150px;
  margin: auto;
}
.message_icon {
  background: #1E6790;
  width: 60px;
  height: 50px;
  text-align: center;
  border-radius: 150px;
  margin: auto;
}

